<script type="text/javascript">
    document.title = '登录 | 咪咕电影';
</script>
<link rel="stylesheet" href="css/movie.css">
<link rel="stylesheet" href="icon/iconfont.css">
<script src="js/jquery-3.1.1.min.js"></script>
<script src="icon/iconfont.js"></script>

<div class="warning2"></div>
<div class="title">
    <div class="return">&#xe71b;</div>
    <div class="font">登录</div>
    <div class="sign-up"><a href="sign-up">注册</a></div>
</div>
<div class="logo">
    <img src="images/logo.png" width="100%">
</div>
<div class="login-name">
    <span>&#xe6db;</span>
    <input type="text" class="user" placeholder="手机号">
    <p>&#xe621;</p>
</div>
<div class="login-pwd">
    <span>&#xe61b;</span>
    <input type="password" placeholder="密码" class="pwd2">
    <p class="visable">&#xe620;</p>
    <div class="clear2">&#xe66b;</div>
</div>
<input type="button" class="confirm-login" value="登录">
<div class="login-way">
    <span><a>短信登录</a></span>
    <p class="for">忘记密码?</p>
</div>
<div class="footer">
    <hr>
    <p class="way">其他登录方式</p>
</div>
<div class="link">
    <span>&#xe603;</span>
    <p>&#xe60a;</p>
</div>
<script src="js/cookie.js"></script>
<script src="js/login.js"></script>
<script src="js/data-deal.js"></script>