<script type="text/javascript">
    document.title = '电影选座 | 咪咕电影';
</script>
<link rel="stylesheet" href="css/seat.css">
<link rel="stylesheet" href="icon/iconfont.css">
<script src="js/jquery-3.1.1.min.js"></script>
<script src="icon/iconfont.js"></script>


<div class="title">
    <div class="return"><a href="tickets">&#xe71b;</a></div>
    <div class="font">新木乃伊</div>
    <div class="sign-up change">更换场次</div>
</div>
<div class="main">
    <ul class="cagroy">
        <li><span class="has-sel">&#xe605;</span>已选</li>
        <li><span class="has-sal">&#xe605;</span>已售</li>
        <li><span >&#xe605;</span>可选</li>
        <li><span class="double">&#xe605;&#xe605;</span>情侣</li>
    </ul>
    <div class="hall">南京横店电影水游城店2号厅银幕</div>
        <canvas width="300" height="300"></canvas>
</div>
<div class="price">
    <div class="left">
        <p class="font">南京横店电影城水游城店</p>
        <p class="date">2017-06-05 15.25</p>
    </div>
    <div class="right">
        <input class="con" type="button" value="确认￥0">
    </div>
</div>
<script src="js/select-seats.js"></script>