<script type="text/javascript">
    document.title = '注册 | 咪咕电影';
</script>
<link rel="stylesheet" href="css/movie.css">
<link rel="stylesheet" href="icon/iconfont.css">
<script src="js/jquery-3.1.1.min.js"></script>
<script src="icon/iconfont.js"></script>

<div class="warning"></div>
<div class="title">
    <div class="return"><a href="login">&#xe71b;</a></div>注册
</div>
<div class="mombile">
    <input type="text" placeholder="手机号" class="mobile">
    <div class="clear">&#xe66b;</div>
</div>
<div class="check">
    <div class="cap">
        <input class="captcha" placeholder="验证码" >
        <div class="clear-ch">&#xe66b;</div>
    </div>
    <div class="get-cap">获取验证码</div>
    <div class="random"></div>
</div>
<div class="pwd">
    <input  class="pass" type="password" placeholder="密码(6-16位字符)" >
    <div class="visable">&#xe620;</div>
    <div class="empty">&#xe66b;</div>
</div>
<input type="button" class="confirm" value="注册并登陆">
<div class="schema">注册并登陆代表已阅读并接受协议<span>《使用协议》</span></div>
<p class="bottom">注册成功后该账号可以登陆所有咪咕业务，包括咪咕音乐、动漫阅读、游戏、视频。</p>
<p class="allo">中国移动用户已默认注册和通行证账号，可直接登陆咪咕业务</p>
<script src="js/sign-up.js"></script>
<script src="js/data-deal.js"></script>