* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-size: 62.5%;
  font-family: iconfont;
}
a{
  text-decoration: none;
}

.head{
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 16px;
  font-size: 1.6rem;
  text-align:center;
  line-height: 35px;
  position: relative;
  .font{
    width: 45%;
    height: 35px;
    margin: 0 auto;
  }
  .return{
    position: absolute;
    left: 0;
    top:0;
    font-size: 18px;
    font-size: 1.8rem;
    width: 8%;
    height: 100%;
    line-height: 35px;
    text-align: right;
    a{
      &:link{
        color: #939393;
      }
    }
  }

  .sign-up{
    width: 20%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    font-size: 2.2rem;
    position: absolute;
    color: #939393;
    right: 0;
    top:0;
  }
}
.area-list{
  width: 100%;
  height: 70px;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  p{
    width: 70%;
    margin-top: 10px;
    margin-left: 3%;
  }
  .title2{
    font-size: 16px;
    font-size: 1.6rem;
  }
  .area{
    color: #939393;
  }
  .icon{
    width: 18%;
    height: 100%;
    position: absolute;
    right: 0;
    top:0;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    font-size: 2.4rem;
    color: #6ab1e5;
    }
}
.show{
  width: 100%;
  height:150px;
  margin-top: 25px;
  background:linear-gradient(to bottom,#b39ebe,#0b1f41) no-repeat 0 0 ;
  li{
    width: 15%;
    height: 85px;
    margin-left: 13px;
    float: left;
    list-style: none;
    margin-top: 28px;
  }
  li:nth-child(3){
    width: 16.5%;
    height: 80px;
    margin-top: 24px;
    border: 4px solid white;
  }
}
.title{
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 2%;
}
ul.date{
  width: 100%;
  height: 35px;
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  .color{
    color: #d95258;
    border-bottom: 1px solid #d95258;
  }
  li{
    width:25%;
    height: 35px;
    list-style: none;
    float: left;
    line-height: 35px;
  }
  .icon{
    width: 6%;
    height: 100%;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 0;
    top:0;
  }
}
@mixin radius($value:4px){
  -webkit-border-radius:$value;
  -moz-border-radius:$value;
  -ms-border-radius:$value;
  border-radius:$value;
}

.action{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
    li{
      width: 25%;
      height: 60px;
      float: left;
      list-style: none;
    }
  li:nth-child(3),li:nth-child(4){
    color: #ff4664;
  }
  li:nth-child(3){
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 60px;
  }
  li:nth-child(4){
    p{
      width: 70%;
      height: 20px;
      margin: 22px auto;
      text-align: center;
      border: 1px solid #ff4664;
      @include radius();
    }
  }

  .start{
    color: black;
    font-size: 14px;
    font-size: 1.4rem;
    margin-top: 12px;
  }
  .end{
    color:#939393;
    font-size: 12px;
    font-size: 1.2rem;
  }
}
.fav{
  width: 40%;
  height:50px;
  position: fixed;
  left: 50%;
  top:50%;
  margin-top: -25px;
  margin-left: -20%;
  @include radius();
  background-color: rgba(140,140,140,0.7);
  z-index: 2000;
  display: none;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
}


